<li class="project-item">
  <div class="group-name"><%= project.group.name %></div>
  <%= link_to project.name, project, class: 'project-name' %>
  <div class = "status-circles">
    <%= render partial: 'status_circle', locals: { remaining: project.cpus_remaining, cap: project.cpu_cap, label_text: 'CPUs', width: 60} %>
    <%= render partial: 'status_circle', locals: { remaining: project.memory_remaining / 1024.0, cap: project.memory_cap / 1024.0, label_text: 'memory gb', width: 60} %>
    <%= render partial: 'status_circle', locals: { remaining: project.storage_remaining, cap: project.storage_cap, label_text: 'storage gb', width: 60} %>
  </div>
</li>