<div class="tall card project-status">
  <ul>
    <li>CPUs remaining: <%= project.cpus_remaining %></li>
    <li>Memory remaining: <%= project.memory_remaining %>MB</li>
    <li>Storage remaining: <%= project.storage_remaining %>GB</li>
    <li>Linux licenses remaining: <%= project.linux_os_remaining %></li>
    <li>Windows licenses remaining: <%= project.windows_os_remaining %></li>
  </ul>
</div>