<nav>
  <%= link_to "home", root_path %> -> <%= @project.name %>
</nav>
<h5>
  The following resource elements are approved and funded for <%= @project.name %>;
  if you are out of or need to request more resources, please contact your support team for assistance.
</h5>

<ul>
  <li>CPUs remaining: <%= @project.cpus_remaining %></li>
  <li>Memory remaining: <%= @project.memory_remaining %>MB</li>
  <li>Storage remaining: <%= @project.storage_remaining %>GB</li>
  <li>Linux licenses remaining: <%= @project.linux_os_remaining %></li>
  <li>Windows licenses remaining: <%= @project.windows_os_remaining %></li>
</ul>

<%= form_for [@project, @project.vms.build], html: {class: 'vm_form'} do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :cpus, 'CPUs' %>
      <%= f.text_field :cpus, type: :number, max: @project.cpus_remaining %>
    </div>
    <div>
      <%= f.label :memory %>
      <span><%= f.text_field :memory, type: :number, max: @project.memory_remaining %>MB</span>
      <%= f.label :storage %>
      <span><%= f.text_field :storage, type: :number, max: @project.storage_remaining %>GB</span>
    </div>
    <div>
      <%= f.label :operating_system, 'OS' %>
      <span><%= f.select :operating_system, @project.available_operating_systems %></span>

    </div>
    <%= f.submit %>
<% end %>