<nav>
  <%= link_to 'home', root_path %>
</nav>
<h2>Total Inventory Report</h2>
<% @all_groups.each do |group| %>
    <table class="vms-report">
      <thead>
      <tr>
        <th></th>
        <th>CPUs</th>
        <th>Memory(MB)</th>
        <th>Storage(GB)</th>
        <th>Linux Licenses</th>
        <th>Windows Licenses</th>
      </tr>
      </thead>
      <tbody class="">
      <tr class="group-totals">
        <td>Roll-up of group: <%= group.name %></td>
        <td><%= group.vms.sum(:cpus)%></td>
        <td><%= group.vms.sum(:memory)%></td>
        <td><%= group.vms.sum(:storage)%></td>
        <td><%= group.vms.where(operating_system: 'Linux').count%></td>
        <td><%= group.vms.where(operating_system: 'Windows').count%></td>
      </tr>
      </tbody>
    <% group.projects.each do |project| %>
      <tbody class="project-report-body">
      <tr class="project-totals">
        <td>Roll-up of project: <%= project.name %></td>
        <td><%= project.vms.sum(:cpus)%></td>
        <td><%= project.vms.sum(:memory)%></td>
        <td><%= project.vms.sum(:storage)%></td>
        <td><%= project.vms.where(operating_system: 'Linux').count%></td>
        <td><%= project.vms.where(operating_system: 'Windows').count%></td>
      </tr>

          <tr>
            <% if project.vms.count > 0 %>
              <td colspan="6" class="vm-name-label">VM Name</td>
            <% else %> 
              <td colspan="6" class="vm-name-label no-data">No resources allocated</td>
            <% end %>
          </tr>
          <% project.vms.each do |vm| %>
              <tr class="vm-resource-values">
                <td><%= vm.name %></td>
                <td><%= vm.cpus %></td>
                <td><%= vm.memory %></td>
                <td><%= vm.storage %></td>
                <td><%= vm.operating_system == 'Linux' ? "\u2713".encode('utf-8') : '' %></td>
                <td><%= vm.operating_system == 'Windows' ? "\u2713".encode('utf-8') : '' %></td>
              </tr>
          <% end %>
      </tbody>
        <% end %>
    </table>
<% end %>
