<div class="flex-master">
  <div class="projects-vm-list">
    <% @all_groups.each do |group| %>
        <div class="project-vms card">
          <table class="condensed">
            <thead>
            <tr>
              <th class="vm-name">Name</th>
              <th class="cpu-count">CPUs</th>
              <th class="memory-amount">Memory(MB)</th>
              <th class="storage-amount">Storage(GB)</th>
              <th class="operating-system">OS Licenses</th>
            </tr>
            </thead>
            <tbody>
            <tr class="group-totals rollup">
              <td>Group <%= group.name %></td>
              <td><%= group.vms.sum(:cpus) %></td>
              <td><%= group.vms.sum(:memory) %></td>
              <td><%= group.vms.sum(:storage) %></td>
              <td><%= group.vms.count %></td>
            </tr>

            <% group.projects.each do |project| %>
                <tr class="project-totals rollup">
                  <td>Project <%= project.name %></td>
                  <td><%= project.vms.sum(:cpus) %></td>
                  <td><%= project.vms.sum(:memory) %></td>
                  <td><%= project.vms.sum(:storage) %></td>
                  <td><%= project.vms.count %></td>
                </tr>

                <% project.vms.each do |vm| %>
                    <tr class="diminished">
                      <td><%= vm.name %></td>
                      <td><%= vm.cpus %></td>
                      <td><%= vm.memory %></td>
                      <td><%= vm.storage %></td>
                      <td>1</td>
                    </tr>
                <% end %>
            <% end %>
            </table>
        </div>
    <% end %>
  </div>
</div>
<div class="export-bar">
  <%= link_to "Export as CSV", '/report.csv' %>
</div>